@import '../utils/variables';

.card {
  border: 1px solid $color-border;
  border-radius: $border-radius;
  width: $card-width;
  box-sizing: border-box;
  padding: $card-padding;
  background-color: $color-primary-hover;

  &__image {
    width: $card-image-width;
    height: $card-image-height;
    display: block;
    margin: 0 auto 40px;
  }

  &__title {
    font-family: $font-main;
    font-size: $font-size-title;
    font-weight: 500;
    line-height: $line-height-title;
    color: $color-text-dark;
    margin-bottom: 4px;
  }

  &__product {
    font-size: $font-size-product;
    font-weight: 400;
    line-height: $line-height-product;
    color: $color-text-grey;
    margin-bottom: 16px;
  }

  &__price {
    display: flex;
    font-size: $font-size-price;
    font-weight: 400;
    line-height: $line-height-price;
    color: $color-text-grey;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;

    &-value {
      font-size: $font-size-price-value;
      font-weight: 700;
      color: $color-text-dark;
    }
  }

  &__buy {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: $color-primary;
    color: $color-button-text;
    width: $button-width;
    height: $button-height;
    font-size: $font-size-button;
    font-weight: 700;
    line-height: $line-height-button;
    border-radius: $border-radius;
    border: 1px solid $color-primary;
    cursor: pointer;
    font-family: inherit;
    text-align: center;

    &:hover {
      background-color: $color-primary-hover;
      color: $color-primary;
      border: 1px solid $color-primary;
    }
  }

  &__reviews {
    display: flex;
    align-items: center;
    font-size: $font-size-reviews;
    font-weight: 400;
    line-height: $line-height-reviews;
    justify-content: space-between;
    color: $color-text-dark;
    margin-bottom: 24px;
  }
}
