$card-width: 200px;
$image-width: 160px;
$image-height: 134px;
$color-primary: rgba(0, 172, 220, 1);
$color-text-main: rgba(6, 11, 53, 1);
$color-text-secondary: rgba(97, 96, 112, 1);
$color-border: rgba(243, 243, 243, 1);
$radius: 5px;
